music/.config/ncmpcpp/error.log
music/.config/mpd/playlists
music/.config/mpd/database
nvim/.config/nvim/plugin
nvim/.config/nvim/spell
irssi/.config/irssi/scripts
irssi/.config/irssi/certs
irssi/.config/irssi/*.theme
bin/.local/share
