/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #282828;
    color: #d4be98;
    font-family: JetBrains Mono, monospace;
    font-size: 13px;
}

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#mode,
#network,
#pulseaudio,
#river,
#temperature,
#mpd,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#tags button {
    color: #d4be98;
    padding-left:  5px;
    padding-right: 5px;
}

#tags button.occupied {
    color: #3c3836;
}

#tags button.focused {
    color: #7daea3;
    background: #1d2021;
}

#tags button.urgent {
    color: #d8a657;
}

#mode {
    background: #3c3836;
    /* border-top: 2px solid white; */
    /* To compensate for the top border and still have vertical centering */
    /* padding-bottom: 2px; */
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    color: orange;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#temperature.critical {
    color: red;
}
